<div class="header">
    <div class="logosection">

        <div class="logo">
            <img src="../../assets/www.png">
           
        </div>
        
        <div class="logo1">
            <img src="../assets/logo-nec1.webp" >
        </div>

        <div class="logo2">
            <img src="../assets/logo nec 2.png" >
        </div>
        

    </div>
        
    
 
    <div class="navbar">
        

        
    
        <a href="#" >
            <button pButton  >
                <i class="pi pi-home"> Home</i> </button></a>

        <a href="#">
            <button pButton >
             <i class="pi pi-home"> Home</i> </button></a>
        <a href="#">
            <button pButton >
                 <i class="pi pi-home"> Home</i> </button></a>
        <a href="#">
            <button pButton>
                <i class="pi pi-user"> Contact</i> </button></a>
                
        <a href="#">
            <button pButton >
                <i class="pi pi-paperclip"> About</i> </button></a>
        <a routerLink="./login" >
            <button pButton class="right">
            <i class="pi pi-sign-in"> Login</i> </button></a>
       
    </div>  
</div>



