<div class="main">
    <div class="row" *ngFor="let i of studentcount">
        <div class="card1">
            <div class="image">
                <img src="../../assets/userdefaultAvatar.jpg" alt="User Image" height="95px" >
            </div>
            <div class="profile">
                <span ><small><b>Name : </b>Rongala Gangadhar</small></span>
                <span><small><strong>HallTicket No : </strong>21471A0521</small></span>
                <span><small><strong>Department : </strong>CSE</small></span>
                
            </div>
            
        </div>
        <div class="card2">
    
        </div>
    </div>
    
</div>
